artifacts/**
build/**
.DS_Store
.npmrc
.npmignore
.gitignore
QAReport.md
QAReport.md.meta
.gitlab-ci.yml
Doxyfile
Doxyfile.meta
DoxygenLayout~.xml
upm-ci~/**
.Editor/**
.yamato/**
*.zip*
.npmrc-e
publish_package.sh
prepare_upm-ci.sh
package_package.sh
test_package.sh
TestRunnerOptions.json