# Quality Report

## Version tested: 1.3.1-pre.1

## QA Owner: @vaidasm
## UX Owner: @vaidasm

## Test strategy

Project is getting tested every months or so manually by doing exploratory testing or TestRails driven testing
Most recent TestRails testing (2020-10-14): https://qatestrail.hq.unity3d.com/index.php?/runs/view/26024&group_by=cases:section_id&group_id=78000&group_order=asc <br/>
Current issues: <br/>
public: https://github.com/Unity-Technologies/com.unity.mobile.notifications/issues <br/>
Internal: https://fogbugz.unity3d.com/f/search/?sSearchFor=mobile+notifications+status%3Aactive+category%3ABug <br/>
Forum: https://forum.unity.com/threads/mobile-notification-preview-package.620227/ <br/>

Feature's testing document:
https://docs.google.com/document/d/1B9RfS0kEuYLAvveg2oviXdaPKbtBuo5m6BlzrtPqkQ4/edit?usp=sharing

## Package Status

 Quality status: good

 Still has a number of issues, but for the most part the package is able to serve it's purpose
 The project could also benefit from automated tests.


 Related project: notification samples (extra samples that can be imported to Unity for the users to better grasp the workflow of Notifications): https://github.com/Unity-Technologies/NotificationsSamples
